# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.BankSystem.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\halla\Desktop\OOP\Week 6\Task6.2p\BankSystem\BankSystem\.idea\.idea.BankSystem.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
